# fixmac
type fixmac, domain;
type fixmac_exec, exec_type, file_type;

init_daemon_domain(fixmac)

allow fixmac fixmac_exec:dir { remove_name add_name };
allow fixmac fixmac_exec:file { rx_file_perms };
allow fixmac radio_data_file:dir { write add_name search };
allow fixmac radio_data_file:file { read write create open setattr getattr };
allow fixmac self:capability { dac_override sys_module };
allow fixmac shell_exec:file { read getattr };
allow fixmac system_file:file execute_no_trans;
allow fixmac kernel:process setsched;
allow fixmac self:netlink_socket create;
allow fixmac toolbox_exec:file { execute execute_no_trans getattr open read };
allow fixmac wifi_data_file:dir w_dir_perms;
allow fixmac wifi_data_file:file { create w_file_perms ra_file_perms };
